API_test.py
rule_engine_result.csv
rule_engine_result_count.csv
llm_result_gemini.csv
**/__pycache__/
.vscode
.env
Embedding/koelectra_model/
Embedding/tunib_model/
Embedding/sroberta_model/
Embedding/**/model.safetensors
Embedding/**/tokenizer.json
Embedding/**/tokenizer_config.json
Embedding/**/config.json
**/*.safetensors
